<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CSS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item lines="full">
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>
        Toggle Dark Theme
        <p>https://ionicframework.com/docs/theming/dark-mode</p>
      </ion-label>
      <ion-toggle id="themeToggle" slot="end"></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-datetime-button datetime="datetime"></ion-datetime-button>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="datetime"></ion-datetime>
    </ng-template>
  </ion-modal>
</ion-content>
